body, * {
  font-family: Arial, Helvetica, sans-serif;
}

/* GRID */
.container-fluid {
  padding: 0 5px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1260px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.col-1 {
  flex: 1;
}
.col-2 {
  flex: 2;
}
.col-3 {
  flex: 3;
}
.col-4 {
  flex: 4;
}
.col-5 {
  flex: 5;
}
.col-6 {
  flex: 6;
}
.col-7 {
  flex: 7;
}
.col-8 {
  flex: 8;
}
.col-9 {
  flex: 9;
}
.col-10 {
  flex: 10;
}
.col-11 {
  flex: 11;
}
.col-12 {
  flex: 12;
}
/* end GRID */

.top-head {
  margin: 10px 0;
}

form input {
  width: 70%;
  padding: 15px 12px;
  font-size: 1em;
  border-radius: 5px;
  border: 1px solid #ddd;
}

form input:focus {
  outline: none !important;
  border:1px solid #1c6f41;;
  box-shadow: 0 0 10px #1c6f41;
}

form button {
  padding: 15px 8px;
  font-size: 1em;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #1c6f41;
  color: #fff;
  border: 1px solid #004f27;
  cursor: pointer;
  outline-color: #1c6f41;
  margin-left: -8px;
}

.usuario-carrinho {
  display: flex;
  align-content: flex-end;
}

.align-itens-bottom {
  align-items: flex-end;
}

.usuario-carrinho ul {
  margin: 0;
  padding: 0;
}

.usuario-carrinho i {
  font-size: 2em;
  color: orange;
  margin-right: 24px;
}

.usuario-carrinho li {
  list-style-type: none;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1c6f41;
  text-align: center;
  box-shadow: 0 5px 12px #888;
}

.navbar li {
  display: inline-block;
  margin-right: -5px;
  border-right: 1px solid #000;
}

.navbar li:last-child {
  border-right: none;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover {
  background-color: #004f27;
}

.navbar li i {
  font-size: 1.6em;
  margin-right: 16px;
  vertical-align: sub;
}

.bottom-head p {
  margin: 0;
  background: #ddd;
  text-align: center;
  padding: 8px;
}

ul.bread {
  padding: 10px 16px;
  margin-bottom: 36px;
  list-style: none;
  font-size: 0.8em;
  border-bottom: 1px solid #ddd;
}
ul.bread li {
  display: inline;
}
ul.bread li+li:before {
  padding: 8px;
  color: black;
  content: "\003e";
}
ul.bread li:last-child {
  color: #1c6f41;
}

.menu-aside .title-aside {
  margin: 0;
  padding: 16px;
  color: #1c6f41;
  font-size: 1.2em;
  border: 1px solid #ddd;

}

.menu-aside .products-aside {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.menu-aside h3 {
  margin: 0;
  padding: 16px 0 0 16px;
  color: #1c6f41;
  font-size: 1em;
  font-weight: normal;
}

.menu-aside ul {
  margin: 0;
  padding: 16px;
  list-style-type: none;
  font-size: 1em;
  border-bottom: 1px solid #ddd;
}

.menu-aside ul li {
  line-height: 2;
}

.main {
  padding: 16px;
  margin-bottom: 21px;
}

.top-main span {
  color: #1c6f41;
}

.top-main button {
  background-color:  #1c6f41;
  color: #fff;
  padding: 5px 10px;
  cursor: pointer;
  outline: 0;
  border-radius: 5px;
  border-bottom: 2px solid  #004f27; 
}

.title {
  color: #1c6f41;
  text-align: center;
  margin: 40px 0;
}

.card {
  box-sizing: border-box;
  max-width: 260px;
  padding: 16px;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card:hover {
  border: 1px solid #1c6f41;
  cursor: pointer;
  box-shadow: 2px 6px 10px 0 rgba(0, 0, 0, 0.4);
}

.card img {
  width: 100%
}

.card .description {
  font-size: 0.8em;
}

.card .old-price {
  color: #ddd;
  text-decoration: line-through;
  margin-bottom: 8px;
}

.card .price {
  color: #1c6f41;
  font-size: 1.5em;
  margin: 0;
}
.card .price span {
  font-weight: normal;
}

.card .condition-pay {
  font-size: 0.8em;
}

.card button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: orange;
  background-color: #333;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 1em;
}
.card button:hover {
  opacity: 0.9;
}

.owl-carousel {
  width: 850px!important;
}

.owl-nav {
  text-align: center;
}

.owl-prev, .owl-next {
  font-size: 4em!important;
  color: #1c6f41!important;
  outline: none;
}

.align-right {
  text-align: right;
}

@media screen and (max-width: 375px) {

}